.buttonEdit {
  padding: 0.7rem 0.7rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--purple-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  align-items: center;

  transition: background-color 0.1s;
}
.buttonDelete {
  padding: 0.7rem 0.7rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--purple-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  align-items: center;

  transition: background-color 0.1s;
}

.buttonDelete:hover {
  background: var(--purple-400);
}
.buttonEdit:hover {
  background: var(--purple-400);
}
.CadastrateButton {
  padding: 0.7rem 0.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--purple-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;

  transition: background-color 0.1s;
}
.CadastrateButton:hover {
  background: var(--purple-400);
}
.Icons {
  margin-right: 0.5rem;
}

.justifyContentAround {
  display: block;
  padding: 2.5rem;
}

tbody {
  color: var(--white);
}
th {
  color: var(--white);
}
td {
  color: var(--white);
}
