@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;

  --purple-800: #0e051a;
  --purle-700: #18092c;
  --purple-500: #3a166b;
  --purple-400: #461a82;
}
body {
  background: var(--purple-800);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
